.App{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1198px;
}
.nav-button{
    display: flex;
    flex-direction: row;
}
.nav-button-clicked{
    display: flex;
    flex-direction: row;
}
.aside {
  width: 306px;
  height: 1198px;
}
.data-page {
  flex: 1; 
}
.data-table__headers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.data-table{
    width: 968;
    height: 812;
}