body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Medium"),
    url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-SemiBold"),
    url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.App {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 1198px;
  background-color: #fafbff;
}
.aside {
flex: 0 0 306px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}
.logo-image{
    padding-top: 1px;
}
.project-name__wrapper {
display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 28px;
  margin-top: 36px;
    color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}
.project-name__text{
    padding-left: 8px;
}
.navigation-panel {
  margin-top: 65px;
  margin-right: 28px;
  flex: 1 1;
}
.project-name__header{
color: #838383;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}
.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 250px;
  margin-left: 28px;
  margin-bottom: 44px;
  color: #9197b3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.nav-button-clicked {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 250px;
    margin-left: 28px;
  margin-bottom: 44px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  border-radius: 8px;
  background-color: #5932ea;
}
.button-image{
    padding-top: 5px;
    padding-left: 11px;
}
.default-text__style {
  flex: 1 1;
  margin-left: 14px;
}
.arrow-style {
  padding-top: 5px;
  margin-right: 9px;
}
.manager-info{
    display: flex;
}
.manager-foto{
    width: 42px;
    height: 42px;
    border-radius: 42px;
    margin: 0 0 76px 28px;
}
.manager-data{
    margin: 0 0 78px 12px;
}
.manager-name{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}
.manager-positon{
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.data-table {
  width: 968px;
  background-color: #fff;
  margin-top: 51px;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}
.data-page__wrapper {
  margin-left: 71px;
  margin-right: 95px;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}
.data-page__greating{
    margin-top: 41px;
    color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.data-header{
color: #000;
padding-left: 38px;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.22px;
}
.data-filter{
    margin-top: 7px;
    padding-left: 38px;
    color: #16C098;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.14px;
}
.table {
    margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}
.table-header{
    padding-top: 30px;
}
thead{
    border-bottom:1px solid #EEE;
}
th{
    color: #B5B7C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
}
th,
td {
  padding: 0px;
  text-align: left;
  position: relative;

}
td{
    padding-top: 48px;
    color: #292D32;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
}
td:first-child,th:first-child{
    padding-left: 38px;
}
th,td:last-child{
padding-right: 48px;
}
.table td:last-child {
  text-align: center; /* Выравнивание по центру */
  vertical-align: middle;
}
.table thead tr th:last-child {
  text-align: center;
  vertical-align: middle;
}
.data-page {
  flex: 0 0 1134px;
}

